[Unit]
Description=SatNOGS client

[Service]
EnvironmentFile=-/etc/default/satnogs-client
ExecStart=/var/lib/{{ satnogs_client_user }}/bin/satnogs-client
Restart=on-failure
User={{ satnogs_client_user }}
Group={{ satnogs_client_user }}

[Install]
WantedBy=multi-user.target
